














<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
        <link href="~/css/bootstrap.min.css" rel="stylesheet" />
        <script src="~/js/bootstrap.min.js"></script>


        <script src="~/js/jquery-3.6.0.min.js"></script>

    </head>
    <body>
        <ul>
            <li><a href="/role">Role</a></li>
            <li><a href="/member">Member</a></li>
            @if (User.Identity.IsAuthenticated)
            {
                <li><a href="/auth/logout">Logout</a></li>
                <li><a href="/auth">Profile</a></li>
            }
            else
            {
                <li><a href="/auth/register">Register</a></li>
                <li><a href="/auth/login">Login</a></li>
            }



        </ul>
        <div>
            @RenderBody()
        </div>
    </body>
    </html>
