USE [master]
GO
/****** Object:  Database [Bookstore]    Script Date: 10/16/2021 5:07:07 PM ******/
CREATE DATABASE [Bookstore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bookstore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Bookstore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Bookstore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Bookstore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bookstore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bookstore]
GO
/****** Object:  Table [dbo].[Loaisach]    Script Date: 10/16/2021 5:07:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loaisach](
	[Maloai] [nvarchar](10) NOT NULL,
	[Tenloai] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Maloai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 10/16/2021 5:07:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[Ma] [int] NOT NULL,
	[Ten] [nvarchar](100) NULL,
	[Gia] [float] NULL,
	[Hinhanh] [nvarchar](100) NULL,
	[Loai] [nvarchar](10) NULL,
 CONSTRAINT [PK__Sach__3214CC9F46242EF7] PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Taikhoan]    Script Date: 10/16/2021 5:07:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Taikhoan](
	[Mataikhoan] [int] IDENTITY(1,1) NOT NULL,
	[Matkhau] [nvarchar](50) NULL,
	[Loai] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_Taikhoan] PRIMARY KEY CLUSTERED 
(
	[Mataikhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Loaisach] ([Maloai], [Tenloai]) VALUES (N'01', N'Kinh tế')
INSERT [dbo].[Loaisach] ([Maloai], [Tenloai]) VALUES (N'02', N'Ngoại Văn')
INSERT [dbo].[Loaisach] ([Maloai], [Tenloai]) VALUES (N'03', N'Văn học')
GO
SET IDENTITY_INSERT [dbo].[Taikhoan] ON 

INSERT [dbo].[Taikhoan] ([Mataikhoan], [Matkhau], [Loai], [Email]) VALUES (1, N'123', N'admin', N' nguyenthanhnghia@gmail.com')
INSERT [dbo].[Taikhoan] ([Mataikhoan], [Matkhau], [Loai], [Email]) VALUES (2, N'124', N'admin', N'ngueynvanc@gmail.com')
SET IDENTITY_INSERT [dbo].[Taikhoan] OFF
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK__Sach__Loai__398D8EEE] FOREIGN KEY([Loai])
REFERENCES [dbo].[Loaisach] ([Maloai])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK__Sach__Loai__398D8EEE]
GO
USE [master]
GO
